@model Block
@{
    ViewData["Title"] = "AddBlock";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blok Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık 1</label>
    <input asp-for="Title1" class="form-control" />
    <span asp-validation-for="Title1" class="text-danger"></span>
    <br />
    <label>Açıklama </label>
    <input asp-for="Description1" class="form-control" />
    <span asp-validation-for="Description1" class="text-danger"></span>
    <br />
    <label>Başlık 2</label>
    <input asp-for="Title2" class="form-control" />
    <span asp-validation-for="Title2" class="text-danger"></span>
    <br />
    <label>Açıklama 2</label>
    <input asp-for="Description2" class="form-control" />
    <span asp-validation-for="Description2" class="text-danger"></span>
    <br />
    <label>Resim</label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <button class="btn btn-info">Blok Kaydet</button>
    <a href="/AdminBlock/Index/" class="btn btn-secondary">Değişikliklerden Vazgeç</a>
</form>


