@model List<Category>  

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Kategori Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Kategori Ürünleri</th>
        <th>Sitede Gör</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryName</td>
            <td><a href="#" class="btn btn-outline-info">Kategori Ürünleri</a></td>
            <td><a href="#" class="btn btn-outline-secondary">Sitede Gör</a></td>
            <td><a href="/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/AdminCategory/AddCategory" class="btn btn-outline-primary">Yeni Kategori Ekle</a>
