@*@model PizzaPan.PresentationLayer.ViewModels.CategoryProductViewModel*@
@model List<PizzaPan.EntityLayer.Concrete.Category>

<div class="agileits-services  py-5" id="menu">
    <div class="container py-md-5">
        <div class="title-content text-center">
            <h6 class="sub-title">Özel Menüler</h6>
            <h3 class="title-big">Sizin için menü kombinasyonu</h3>
            <div class="col-lg-6 menu-section pr-lg-5">
            </div>
            <div class="pt-lg-5 pt-4">
                <div class="row menu-body">
                    @foreach (var category in Model)
                    {
                        <div class="col-lg-6 menu-section pr-lg-5">
                            <h3 class="menu-section-title">@category.CategoryName</h3>
                            <ul>
                             
                                    @foreach (var product in category.Products)
                                    {
                                        <div class="menu-item">
                                            <div class="row border-dot no-gutters">
                                                <div class="col-8 menu-item-name">
                                                    <h6>@product.ProductName</h6>
                                                </div>
                                                <div class="col-4 menu-item-price text-right">
                                                    <h6>@product.ProductPrice₺</h6>
                                                </div>
                                            </div>
                                            <div class="menu-item-description">
                                                <p>@product.ProductDescription</p>
                                            </div>
                                        </div>
                                    }
                                
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




