@model Discount

@{
    ViewData["Title"] = "CreateCode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kupon Oluşturma Sayfası</h1>

<h2>Yeni Kupon KoduEkleme Sayfası</h2>

<form method="post">
    <label>Kupon Adedi</label>
    <input type="number" asp-for="DiscountCount" class="form-control" />
    <br />
    <label>Oluşturulma Tarihi</label>
    <input type="date" asp-for="CreatedDate" class="form-control"/>
    <br />
    <button class="btn btn-info">Kupon Bilgilerini Kaydet</button>
    <a href="/AdminDiscount/Index/" class="btn btn-secondary">Değişikliklerden Vazgeç</a>
</form>
